<footer class="footer">
    <div class="container px-lg-3 px-0">
        <div class="copyright 
            py-lg-6 py-5 border-top border-neutral-300
            fs-6 text-center text-primary-400">
            ©Vivre 2024 All right Reserved
        </div>
    </div>
</footer>